*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  overflow-x: hidden;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  color: white;
}
.logo{
  margin-left: 10px;
}
.actions{
  float: right;
  margin-right: 50px;
}
.line{
  display: flex;
  border: 2px solid black;
}
.products{
  display: grid;
  column-gap: 10px;
  row-gap: 50px;
  grid-template-columns: auto auto auto auto;
  margin: 50px;
}
.individual{
  display: flex;
}
.content{
  display: flex;
  /* justify-content: flex-start; */
  width: 250px;
  height: 250px;
  padding: 2.5px;
  border: 1px solid black;

}
.properties{
  margin-left: 30px;
}
.link{
  margin-right: 20px;
  color: black;
  text-decoration-line: none;
}
.productsForm{
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.from-control{
  margin-top: 250px;
}
.dropdown{
  width: 50%;
  margin-bottom: 30px;
  margin-top: 0px;
}